<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhongxi.lottery.service.system.dao.SysLoginLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhongxi.lottery.service.system.model.SysLoginLog">
		<id column="id" property="id" />
		<result column="log_name" property="logName" />
		<result column="user_id" property="userId" />
		<result column="create_time" property="createTime" />
		<result column="status" property="status" />
		<result column="messages" property="messages" />
		<result column="ip" property="ip" />
	</resultMap>

	<select id="selectLoginLogs" resultType="map">
		select * from sys_login_log where 1 = 1
		<if test="beginTime != null and beginTime !='' and endTime != null and endTime != ''">
			and (create_time between concat(#{beginTime},' 00:00:00') and concat(#{endTime},' 23:59:59'))
		</if>
		<if test="logName != null and logName !=''">
			and log_name like concat('%',#{logName},'%')
		</if>
		<choose>
			<when test="orderByField != null and orderByField !=''">
				<choose>
					<when test="isAsc == true">
						order by ${orderByField} asc
					</when>
					<otherwise>
						order by ${orderByField} desc
					</otherwise>
				</choose>
			</when>
			<otherwise>
				order by create_time desc
			</otherwise>
		</choose>
	</select>

</mapper>
